<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">
        <a href="https://github.com/ntuanb/" class="c-grey-i"><i class="fa fa-github"></i></a>
        <a href="http://codepen.io/ntuanb/" class="c-grey-i"><i class="fa fa-codepen"></i></a>
        <a href="http://jsfiddle.net/user/ntuanb/fiddles/" class="c-grey-i"><i class="fa fa-jsfiddle"></i></a>
        <a href="http://stackoverflow.com/users/5395398/tuan-b" class="c-grey-i"><i class="fa fa-stack-overflow"></i></a>
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>
      <a href="http://ntuanb.com/" class="c-grey-i"><i class="fa fa-home"></i></a> <a href="http://blog.ntuanb.com/" class="c-grey-i"><i class="fa fa-code"></i></a> <a href="http://games.ntuanb.com/" class="c-grey-i"><i class="fa fa-gamepad"></i></a><br>

      Tuan B &copy; {{ site.time | date: '%Y' }}
    </p>
  </div>
</div>
